################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/NoDice/v15
/projects/MSVC/MusConv/Release
/projects/MSVC/NoDice/Release
/projects/MSVC/NoDiceLib/Release
/projects/MSVC/Release
/Release
/Debug
/projects/MSVC
*.o
*.a
bin/MusConv
bin/NoDice
